# Django
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL (local.py defaults)
DB_NAME=movie_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5434

# TMDB
TMDB_API_READ_TOKEN=your_tmdb_read_access_token_here

# Production only
DATABASE_URL=
CSRF_TRUSTED_ORIGINS=
